@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../../../fonts/opensans.woff") format("woff"),
      url("../../../fonts/opensans.woff2") format("woff2");
}
