// ==========================================================================
// SPECIFICATION
// ==========================================================================

html {
  box-sizing: border-box;
}

html *, html ::after, html ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  word-wrap: normal;
}
