/* Shake custom
   ========================================================================== */
@keyframes shake-custom {
    0% {
        transform: rotateZ(0);
    }
    10% {
        transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-4.28571deg);
    }
    80% {
        transform: rotate(3.75deg);
    }
    90% {
        transform: rotate(-3.33333deg);
    }
    100% {
        transform: rotate(0);
    }
}
