.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    cursor: pointer;
}
