@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Open Sans";
    src: url("../../../fonts/opensans-regular.woff2") format("woff2"),
         url("../../../fonts/opensans-regular.woff") format("woff");
}
