// Colors
$color-main--lightest: #99ef9c;
$color-main--lighten:  #5fd16f;
$color-main--light:    #34a34f;
$color-main:           #0a6629;
$color-main--dark:     #07572a;
$color-main--darken:   #054929;
$color-main--darkest:  #033b26;

$color-secondary:      #30be30;
$color-accent:         #1977f3;
$color-warning:        #f2ae04;
//$color-error:          #fb5258;
$color-error:          #db4827;

$gray-1:               #252728;
$gray-2:               #484a4d;
$gray-3:               #6d7073;
$gray-4:               #87898c;
$gray-5:               #bec1c4;
$gray-6:               #e1e3e6;
$gray-7:               #f5f6f7;
